
/* FOOTER */


.other > div img {
    float: left;

    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 100%;

    margin-right: 1rem;
}

footer {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: auto;
    margin: 0;

    box-sizing: border-box;


    background-color: #222222;


    border-top: 2px solid var(--primary-color);

    z-index: 1;
}

.other {
    padding: 2rem;
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.other > div {
    width: 40%;
    box-sizing: border-box;
}

.legal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    background-color: #171717;
    padding: 0 0 0.5rem 0;

    font-family: var(--gui-font);
    text-align: center;

    color: white;   
}

.legal p {
    align-self: flex-end;
}

.github {
    width: 32px;
    height: 32px;
    fill: var(--accent-color);
    transform: translateY(25%);
}


/* 
@media(min-width:900px) {

    footer {
        margin: 0.5rem 10%;
    }

}

@media(min-width:1600px) {

    footer {
        margin: 0 15%;
    }

} */