
/* FOOTER */

footer div {
    display: block;

    width: 100%;
    height: auto;
    margin: 0;
    padding: 1rem 2rem;

    box-sizing: border-box;


    background-color: var(--primary-color);
    color: white;

    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    text-align: center;

    z-index: 1;
}

footer a img {
    width: 32px;
    height: 32px;
}



@media(min-width:900px) {

    footer {
        margin: 0.5rem 10%;
    }

}

@media(min-width:1600px) {

    footer {
        margin: 0 15%;
    }

}