

body {
    margin:0;
    padding: 0;
    background: var(--bg-color) url("/media/images/floralTexture.jpg") no-repeat center fixed;
    background-size: cover;

    font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}

.whole-page {
    background-color: white;
    margin: 1% 5%;
}

/* MAIN CONTENT */

main {
    display: block;
    width: 100%;
    margin: 0;

    box-sizing: border-box;

    font-family: var(--primary-font);
    font-size: 20px;
}

.content {
    display: block;
    width: auto;
    height: auto;
    background-color: white;
    margin: 3%;
    padding: 1rem 2rem;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover);
}

#sidebar.content {
    margin: 0;
    padding: 0.5rem;
}

h3 > a {
    color: var(--accent-color);
}

h3 > a:hover {
    color: var(--brand-primary);
}

/* POST STYLING */
.post {
    padding: 10px 0 30px 0;
    border-bottom: 2px solid var(--highlight-color);
}

.post:last-child {
    border-bottom: none;
}

.post-title, .post-title > a, .post-title > a:visited {
    color: var(--accent-color);
}

.post-title > a:hover {
    color: var(--brand-primary);
}

/* COMMENT FORM STYLING */
.comment-form, .contact-form {
    display: block;
    flex-wrap: wrap;

    font-family: var(--gui-font);
}

.comment-form label, .contact-form label {
    display: inline-block;
    padding: 0 2rem 0 0;

    text-align: center;
}

.comment-form input, .comment-form textarea, .contact-form input, .contact-form textarea {
    display: inline-block;
    width: 44%;
    padding: 0.5rem;

    box-sizing: border-box;

    background: white;
    border: 3px solid var(--highlight-color);
    border-radius: 0.5rem;

    font-family: var(--gui-font);
}

.comment-form textarea, .contact-form textarea {
    height: 20vh;
    width: 100%;

    margin: 0;
}

.comment-form button, .contact-form button, .links a.button {
    width: 44%;
    height: 2.5rem;

    margin: 0.5rem 0;

    background: var(--highlight-color);
    border: 3px solid #b581bd;
    border-radius: 3px;

    font-family: var(--gui-font);
    font-weight: bold;
    text-align: center;
    color: white;
    font-size: 14px;
}

.comment-form button:hover, .contact-form button:hover, .links a.button:hover {
    filter: brightness(110%);
}

.links a.button {
    line-height: 100%;
}



/* COMMENTS */
.comment {
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;

    background: rgb(233, 226, 235);

    font-family: var(--post-font);
}

.comment__avatar-wrapper {
    display: inline-block;
}

.comment__avatar {
    object-fit: cover;
    width: 50px;
    height: 50px;
    
    border-radius: 100%;
}

.comment__content-wrapper {
    display: inline-block;
    height: 100%;
    margin: 0 0 0 1rem;
}

.comment__author {
    margin: 0;
}

.comment__message p {
    margin: 1rem;
}




/* ARCHIVE STYLING */
.archive .archive-date ul {
    display: none;
}

.archive .archive-date.open ul {
    display: block;
}

.archive {
    font-size: 1rem;

    /* border-top: 2px solid var(--highlight-color); */
}

.archive h2 {
    font-size: 1.8rem;
    margin: 0.5rem;
}

.archive h3 {
    font-size: 1.25rem;
    margin: 0.5rem;
}

.archive h3:hover {
    cursor: pointer;
}

.archive ul {
    padding: 0;
    list-style-type: none;
}




/* BOOK DETAIL STYLING */
.book-detail {
    margin-bottom: 50%;
}

.book-detail .links {
    width: 100%;
    height: 75px;
    display: flex;
    flex-wrap: wrap;

    box-sizing: border-box;

    justify-content: space-around;
    align-items: center;
}

.book-detail .links a {
    display: block;
}

.book-detail .book-cover {
    margin: 0 30%;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}

.book-detail .book-cover img {
    width: 40%;
    box-sizing: border-box;
}

.book-detail .book-cover:hover img {
    cursor: pointer;
}

.book-detail .book-cover p {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
    overflow: scroll;
    background-color: rgba(255, 255, 255, 0.8);
}



/* BOOKS LIST */


/* BOOK CARD STYLING */
.books {
    padding: 0 2rem;
}

.book-content {
    display: flex;
    flex-direction: row;
    margin: 1rem;
}

.book-card h3 {
    width: 100%;
}

.book-content a {
    display: inline-block;
    width: 200px;
    margin-right: 2rem;
}

.book-content p {
    width: 50%;
}

img.book-card-cover {
    width: 100%;
}


/* ABOUT PAGE STYLING */

.about img {
    float: left;

    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 100%;

    margin-right: 1rem;
}



/* PHOTO GALLERY STYLING */

.gallery {
    display: flex;
    flex-direction: column;
}

.gallery .photo {
    position: relative;
    width: 70vmin;
    height: 70vmin;
    margin-bottom: 1rem;
}

.gallery .photo .image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.gallery .photo p {
    position: absolute;
    display: block;
    bottom: 10%;
    width: 100%;
    height: auto;
    margin: 0;
    color: var(--brand-primary);
    background-color: #ffffffb3;

    text-align: center;
    box-sizing: border-box;

    z-index: 2;
}



@media(min-width:750px) {

    .book-content a {
        display: inline-block;
        width: 50%;
    }

    .book-content p {
        width: unset;
    }

    /* BOOK DETAIL STYLING */
    .book-detail .book-cover {
        float: left;
        margin: 0 1rem 1rem;
        width: 300px;
        position: relative;
        box-sizing: border-box;
    }

    .book-detail .book-cover img {
        width: 100%;
        box-sizing: border-box;
    }
    
    .book-detail .book-cover:hover img {
        cursor: pointer;
    }

}


/* small screens */
@media(min-width:900px) {
    
    .whole-page {
        margin: 1% 10%;
    }

    .content {
        /* margin: 3% 0; */
    }

    .archive {
        border-top: none;
    }

    /* BOOK DETAIL STYLING */
    .book-detail .book-cover {
        width: 350px;
    }

    /* PHOTO GALLERY STYLING */
    .gallery {
        flex-direction: row;
        flex-wrap: wrap;
    
        padding-left: 10%;
    }
    
    .gallery .photo {
        width: 15vmin;
        height: 15vmin;
        margin: 0;
    }
    
    .gallery .photo .image {
        transition: transform 1s;
    }
    
    .gallery .photo:hover .image {
        transform: scale(1.75, 1.75);
        z-index: 1;
    }
    
    .gallery .photo p {
        color: #00000000;
        background-color: #00000000;

        font-size: 0.8rem;
        
        transition: all 1s;
    }
    
    .gallery .photo:hover p {
        color: var(--brand-primary);
        background-color: #ffffffb3;
    
        transform: scale(1.75, 1.75);
    }

}

/* ADD GRID at 1200px */
@media(min-width:1200px) {

    .whole-page {
        margin: 1% 10%;
    }

    main {
        /* padding: 1% 10%; */

        display: grid;
        grid-template-columns: 77% 21%;
        grid-column-gap: 2%;
    }

    .content {
        /* margin: 0; */
    }

    /* BOOK CARD STYLING */
    .books {
        padding: 0;
    }

    .book-content {
        flex-direction: column;
    }

    .book-content a {
        width: 60%;
    }

}

/* large screens */
@media(min-width:1600px) { 

    .whole-page {
        margin: 1% 15%;
    }

}