:root {
    --bg-color: hsl(201, 18%, 85%);

    --accent-color: #CF0796;
    --brand-primary: #692254;/*#9969a0; */

    --primary-color: #CF0796;/*var(--brand-primary);/* #66A1D5;*/
    --highlight-color: #d4b9d8;

    --link-color: #3cb6ac;
    --link-hover: #2e8d85;

    --post-font: Georgia, 'Times New Roman', Times, serif;
    --gui-font: Verdana;
}

@font-face {
    font-family: cursiveFont;
    src: url("\\media\\5th-grade-cursive\\5thgradecursive-2-italic.ttf");
}