:root {
    --bg-color: hsl(201, 18%, 85%);

    --accent-color: #692254;
    --brand-primary: #9969a0;

    --primary-color: var(--brand-primary);/* #66A1D5;*/
    --highlight-color: #d4b9d8;

    --link-color: #3cb6ac;

    --post-font: Georgia, 'Times New Roman', Times, serif;
    --gui-font: Verdana;
}