:root {
    --bg-color: hsl(206, 58%, 95%);

    --primary-color: #66A1D5;
    --highlight-color: #B7D5EC;

    --accent-color: #bc4198;

    --brand-primary: #832890;

    --link-color: #3cb6ac;

    --post-font: Georgia, 'Times New Roman', Times, serif;
    --gui-font: Verdana;
}