---
layout: page
title: "photography"

showSidebar: "true"
---

<div class="gallery">
{% for photo in site.data.photoGallery %}
    <div class="photo">
        <div class="image" style="background-image: url('/media/images/gallery/low-res/{{ photo.url }}');" onclick='showModal({{ forloop.index0 }});'></div>
    </div>
{% endfor %}

<div id="photo-modal" class="modal">
    <span class="modal-close" onclick="hideModal();">&times;</span>
    <span class="modal-next" onclick="nextImage();">&gt;</span>
    <img class="modal-content" id="modal-image"/>
    <span class="modal-back" onclick="prevImage();">&lt;</span>
    <div id="modal-caption"></div>
</div>

</div>

<script>

    let photoGallery = [
        {% for photo in site.data.photoGallery %}
        {
            'url': '/media/images/gallery/{{ photo.url | url_escape }}',
            'caption': '{{ photo.caption | escape }}'
        }
        {% unless forloop.last %},{% endunless %}
        {% endfor %}
    ];

    // Get the modal
    let modal = document.getElementById('photo-modal');
    let modalImg = document.getElementById("modal-image");
    let captionText = document.getElementById("modal-caption");

    let currentIndex = 0;

    const showModal = (index) => {
        modal.style.display = "block";
        modalImg.src = photoGallery[index]['url'];
        captionText.innerHTML = photoGallery[index]['caption'];
    };

    const hideModal = () => {
        modal.style.display = "none";
    };

    const nextImage = () => {
        //let photoIndex = photoGallery.findIndex(obj => obj['url'] == modalImg.src.replace("%20", " "));

        currentIndex++;
        if(currentIndex >= photoGallery.length) {
            currentIndex = 0;
        }

        showModal(currentIndex);
    }

    const prevImage = () => {
        //let photoIndex = photoGallery.findIndex(obj => obj['url'] == modalImg.src);

        currentIndex--;
        if(currentIndex <= 0) {
            currentIndex = photoGallery.length - 1;
        }

        showModal(currentIndex);
    }
</script>