<article id="{{ _id }}" class="js-comment comment" itemprop="comment" itemscope itemtype="http://schema.org/Comment">
    <div class="comment__avatar-wrapper">
        {% if name == "Joyce Sackett" %}
            <img class="comment__avatar" src="/media/images/Author.jpg" alt="{{ name }}">
        {% else %}
            <img class="comment__avatar" src="https://www.gravatar.com/avatar/{{ email }}?d=identicon" srcset="https://www.gravatar.com/avatar/?d=mm&amp;s=100 2x" alt="{{ name }}" height="50" width="50">
        {% endif %}
    </div>
    <div class="comment__content-wrapper">
      <h3 class="comment__author" itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name">{{ name }}</span>
      </h3>
      <div class="comment__date">
        <time datetime="{{ date | date_to_string }}" itemprop="datePublished">{{ date | date_to_string }}</time>
      </div>
      <div class="comment__message" itemprop="text"><p>{{ message }}</p></div>
    </div>
  </article>