<div class="brand">
    <h1>
        <a href="/index.html">Keeping Blessing <span class="swash-font">Hill</span></a>
    </h1>
</div>
<a class="burger-nav"></a>

<img class="svg hydrangea left" src="/media/images/HydrangeaOutline1.svg" alt="">
<ul class="nav-bar">
    <li class="nav-item {% if page.title == 'home' %}active{% endif %}"><a href="/index.html">Home</a></li>
    <li class="nav-item {% if page.title == 'mybook' %}active{% endif %}"><a href="/mybook.html">My Book</a></li>
    <li class="nav-item {% if page.title == 'about' %}active{% endif %}"><a href="/about.html">About</a></li>
    <li class="nav-item {% if page.title == 'photography' %}active{% endif %}"><a href="/photography.html">Photo Gallery</a></li>
    <li class="nav-item {% if page.title == 'contact' %}active{% endif %}"><a href="/contact.html">Contact</a></li>
</ul>
<img class="svg hydrangea right" src="/media/images/HydrangeaOutline1.svg" alt="">
