<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Elsie" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Elsie+Swash+Caps" rel="stylesheet">

    <!-- OUR STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="/css/root.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/navigation.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">

    <!-- GLOBAL SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <title>{{ site.title }}</title>
</head>
<body>

    <div class="whole-page">
        <nav>
            {% include navigation.html %}
        </nav>
        
        <header>

        </header>

        <main {% if page.title == "home" or page.title == "about" %}class="{{ page.title }}"{% endif %}>
            
            <div class="content" id="content">
                {{ content }}
            </div>

            {% if page.showSidebar != "false" %}
            <div class="content" id="sidebar">

                <div class="books">
                {% assign books = site.data.books %}
                {% for book in books %}
                    {% include book-card.html %}
                {% endfor %}
                </div>

                <div class="archive">
                    {% include archive.html %}
                </div>
            
            </div>
            {% endif %}

        </main>

        <div id="spacer"></div>    

        <footer>
            {% include footer.html %}
        </footer>
    </div>


    <script src="/js/menu.js"></script>
    <script src="/js/body.js"></script>
    <script src="/js/imgToSvg.js"></script>

</body>
</html>